<h1>People</h1>
<hr/>
<ul>
  <!--
    Structural directive is the '*' and must be used when
    dealing with ngFor, ngIf, etc. Anything that has 
    structural control of the output
  -->
  <li *ngFor= "let p of people">
    <h3>{{p.firstName}} {{p.lastName}}</h3>
    <ul *ngIf="showExtended"> 
        <li>Age: {{p.age}}</li>
    </ul>
  </li>
</ul>
<button [disabled]="disabledBtn">Property Binding Button 1</button>
<button bind-disabled="disabledBtn">Property Binding Button 2</button>

<h4 *ngIf="people.length == 0"> No Users Found</h4>
